$blue = #005cac
$gray = #666666
$white = #ffffff
$black = #3e3e3e

/*--------------------------------------------------------------
# Start Navigation
--------------------------------------------------------------*/

